label {
    font-weight: bold;
}

/* Form input fields */
input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
}

/* Submit button */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Submit button on hover */
input[type="submit"]:hover {
    background-color: #45a049;
}

/* Adjust size of description textarea */
textarea {
    height: 150px; /* Adjust the height as needed */
}